<body>
    <header class="site-header">
        <div class="site-identity">
            <h1 style="font-size: 30px"><img src="/assets/logo.png" width="15%"><a href="#"><b>Just Born</b></a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav" style="font-size: 20px">
                <!-- <li><a href="#about" target="_top"><b>About Us</b></a></li> -->
                <li><a href="#contact" target="_top"><b>Contact Us</b></a></li>
                <!-- <li><a routerLink="userpage"><b>userpage</b></a></li> -->
                <!-- <li><a routerLink="header"><b>admin</b></a></li>  -->
                <!-- <li><a routerLink="pay">Pay</a></li> -->
                <li><a routerLink="signin"><b>SignIn/SignUp</b></a></li>
            </ul>
        </nav>
    </header>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" align="center">

        <div>
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/winter_desktop_gear_&_activity_051122_18.jpg"
                        alt="Download">

                </div>

                <div class="item">
                    <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/winter_desktop_051122_01.jpg"
                        alt="Download">

                </div>

                <div class="item">
                    <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/winter_desktop_essentials_051122_01.jpg"
                        alt="Download">

                </div>
                <div class="item active">
                    <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/winter_desktop_nursery_051122_31.jpg"
                        alt="Download">
                </div>
                <div class="item">
                    <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/winter_desktop_feeding_&_kids_food_051122_01.jpg"
                        alt="Download">

                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div><br><br>
    <div class="container">
        <div class="col-md-3" routerLink="/signin" style="cursor: pointer;">
            <img src="https://images.ctfassets.net/6m9bd13t776q/1WGLgsgsrLZ5yxFqEpxWNZ/977d0d526dbc310e688c6dbeacd3864e/musical-toys-gif.gif?q=75&w=660"
                alt="no" width="250px" length="350px">
            <img src="https://images.ctfassets.net/6m9bd13t776q/58gJH1Fq0C6UdU7yAfEbgP/0998f533878e37fd0b05f1c6b0d2d8d9/2-year-old-gifts-GIF-HERO.gif?q=90"
                alt="no" width="250px" length="350px">
        </div>
        <div class="col-md-6" routerLink="/signin" style="cursor: pointer;">
            <img src="https://www.alhaseebapparels.com/wp-content/uploads/2021/06/hbEIsa.gif" alt="no" width="95%"
                length="20px">
        </div>
        <div class="col-md-3" routerLink="/signin" style="cursor: pointer;">
            <img src="https://images.ctfassets.net/6m9bd13t776q/58gJH1Fq0C6UdU7yAfEbgP/0998f533878e37fd0b05f1c6b0d2d8d9/2-year-old-gifts-GIF-HERO.gif?q=90"
                alt="no" width="250px" length="350px">
            <img src="https://images.ctfassets.net/6m9bd13t776q/1WGLgsgsrLZ5yxFqEpxWNZ/977d0d526dbc310e688c6dbeacd3864e/musical-toys-gif.gif?q=75&w=660"
                alt="no" width="250px" length="350px">
        </div>
    </div><br><br>
    <div class="col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="container" width="250px" id="blog">
            <div class="CommentStyles__StyledCommentContainer-sc-gn53o-0 dgdhFW">
                <a id="image" routerLink="/signin">
                    <img src="https://post.healthline.com/wp-content/uploads/2021/11/1758286-The-Best-Baby-Thermometers-for-2022-732x549-feature-732x549.jpg"
                        width="350px" height="250px" style="border-radius: 5px; padding: 10px;" align="left"></a>
                <br>
                <p id="more">Baby products are specially formulated to be mild and non-irritating and use ingredients
                    that
                    are selected for these properties. Baby products include baby shampoos, baby Wash and baby lotions,
                    baby
                    oils, baby powders and baby creams. Now a days even baby cologne, baby perfume etc. are also
                    available.
                </p><br><br><br><br><br><br><br>
                <hr>
                <a id="image" routerLink="/signin">
                    <img src="https://st3.depositphotos.com/8058504/12527/i/950/depositphotos_125273272-stock-photo-baby-on-white-background-with.jpg"
                        width="350px" height="250px" style="border-radius: 5px; padding: 10px;" align="right">
                </a>
                <br><br>
                <p id="more">When your children are very young and impressionable, your main task as a parent is to keep
                    them happily occupied at all times. In addition to spending quality time with your children, it is
                    also
                    important that you find them the right toys for their age- toys that are simple to have fun with,
                    safe
                    to use and provide a fun and engaging experience that would keep your small children happy for hours
                    every single day. Toys for babies are available everywhere</p><br><br><br>
                <hr>
                <a id="image" routerLink="/signin">
                    <img src="https://kidsstoppress.com/wp-content/uploads/2022/10/baby-skin-1-1.jpg" width="350px"
                        height="250px" style="border-radius: 5px; padding: 10px;" align="left">
                </a>
                <br><br>
                <p id="more">On online stores, you can easily find some of the best dresses that are readily available
                    for
                    kids. With a vast number of styles to offer, these outfit options for childrens are easy to style
                    and
                    give off a fashionably beautiful look.</p>
                <br><br><br><br><br><br><br><br>
                <hr>
                <a id="image" routerLink="/signin">
                    <img src="https://st2.depositphotos.com/5653638/11537/i/950/depositphotos_115373144-stock-photo-indian-kids-playing-with-block.jpg"
                        width="350px" height="250px" style="border-radius: 5px; padding: 10px;" align="right">
                </a>
                <br><br>
                <p id="more">Shopping for your kid is no child's play and thus we help you explore, choose and buy from
                    an exhaustive & finest collection of kids' products. JustBorn buying guides, premium store,
                    boutiques, products checklist, and look-books are all aimed towards an enriching and a fulfilling
                    shopping experience. That's what makes us your go-to online store for kids shopping.</p>
                <br><br><br><br><br><br><br><br>
            </div>
        </div>
        <h1 align="center"><b>About Us</b></h1>
        <h5 align="justify" style="font-size: 150%;" class="CommentStyles__StyledCommentContainer-sc-gn53o-0 dgdhFW">
            Just Born is an online-cum-offline brand providing a wide range of products for babies, kids, and moms. The
            start-up was born out of a desire to solve the problem of millions of parents in India not having access to
            the best brands and baby care products for their offspring. The product categories at JustBorn.com comprise
            diapering, feeding and nursing, skin and health care, toys, clothes, footwear, fashion accessories, and much
            more.
            JustBorn.com has a product inventory of more than 90,000 items from around 1200 international and Indian
            brands. Mattel, Ben10, Pigeon, Funs Kool, Hot Wheels, Nuby, Farlin, Medela, Pampers, Disney, Barbie, Gerber,
            and Fisher-Price are some of them.
            The company provides the best products and brands at reasonable prices complemented by a quality online
            shopping experience, fast and reliable delivery service, and prompt customer care.
        </h5>&nbsp;
        <h1 align="center" id="contact"><b>Contact Us</b></h1>
        <div class="CommentStyles__StyledCommentContainer-sc-gn53o-0 dgdhFW">
            <h5 align="justify" style="font-size: 222%;"><b>Head Office Address</b></h5>
            <p style="font-size: 130%;">PSR PrimeTowers,<br> Plot No 1,<br> Survey No 126P,<br>
                DLF Road, Beside DLF Cyber City,<br> Gachibowli,<br> Hyderabad,<br> Telangana 500032.</p>


            <h5 align="justify" style="font-size: 222%;"><b>Customer Care</b></h5>
            <p style="font-size: 150%;">
                PSR PrimeTowers,<br>
                PSR PrimeTowers, Ground Floor,<br>
                Survey No. 126P Beside DLF Cyber City,<br>
                DLF Road Hyderabad - 500032, Telangana<br>
                Email : service@justborn.in<br>
                Phone Number: +91&nbsp;99887 76655<br>
                Timings : 09:00 am to 06:00 pm (Mon-Sun)
            </p>
        </div>
        <br><br>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2"></div>&nbsp;
    <marquee behavior="scroll" direction="left" scrollamount="15">
        <a routerLink="/signin">
            <img src="http://cdn.fcglcdn.com/brainbees/banners/brandstrip1208-3-new-19-08-19.jpg">
            <img src="http://cdn.fcglcdn.com/brainbees/banners/brandstrip1208-3-new-19-08-19.jpg"></a>
    </marquee>
    <footer>
        <div class="container-fluid mt-5">
            <div class="card bg-white mx-5">
                <div class="row mb-4">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="footer-text pull-left">
                            <div class="d-flex">
                                <h1 style="color: #1c030ef8;font-size: xx-large;"><img src="/assets/logo.png"
                                        style="width: 17%;" id="about">Just Born</h1>
                            </div>
                            <p class="card-text" style="text-align: justify;">Just Born is the first in India to
                                introduce
                                the Baby Shop concept. Just Born has developed a unique brand of world-class products
                                sourced from all over the globe and sold exclusively in just born outlets. From baby
                                clothes
                                and blankets to essentials like diapers, wipes & natural skin care. Just Born has a
                                complete
                                range of baby care products that are guaranteed to keep your baby happy.</p>
                            <div class="social mt-2 mb-3"> <i class="fa fa-facebook-official fa-lg"></i> <i
                                    class="fa fa-instagram fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i
                                    class="fa fa-linkedin-square fa-lg"></i></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>

                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Contact Us</h5>
                        <ul class="footer-contact">
                            <li class="phone"> <i class="fa fa-phone"></i> &nbsp; +91&nbsp;99887 76655</li>
                            <li class="email"><i class="fa fa-envelope"></i> &nbsp; service@justborn.in</li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Services</h5>
                        <ul>
                            <li>Online Service</li>
                            <li>Easy Returns</li>
                            <li>Delivery To Your Doorstep</li>
                            <li>Support</li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Company</h5>
                        <ul class="card-text">
                            <!-- <li><a href="#about" target="_top" id="working">About Us</a></li> -->
                            <li><a href="#blog" target="_top" id="working">Blog</a></li>
                            <li><a href="#contact" target="_top" id="working">Contact</a></li>
                            <li><a routerLink="signup" id="working">Join Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="divider mb-4"></div>
                <div class="row" style="font-size:10px;">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="pull-left">
                            <p><b>Copyright <i class="fa fa-copyright"></i> 2022 Just Born</b></p>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="pull-right mr-4 d-flex policy">
                            <div id="l">Terms & Conditions</div>
                            <div id="l">Privacy Policy</div>
                            <div id="l">Cookie Policy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>