<body>
    <header class="site-header">
        <div class="site-identity">
            <h1 style="font-size: 30px"><img src="/assets/logo.png" width="15%"><a routerLink="">Just Born</a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav" style="font-size: 20px">
                <li><a routerLink="/categories"><b>Categories</b></a></li>
                <li><a routerLink="/products"><b>Prduct</b></a></li>
                <li><a routerLink="/userdata"><b>UserData</b></a></li>
                <li><a (click)="success()" id="log"><b>LogOut</b></a></li>
            </ul>
        </nav>
    </header>
    <div class="jumbotron text-center">
        <h1 style="font-size: xx-large;" align="center">Welcome Back, Admin</h1>
        <h1 align="center" style="font-size: x-large;"><b>{{thisUser.u_name}}</b></h1>
    </div>
    <!-- <body id="hii">
    <div id="main">
      <div id="clock"></div>
      <div id="date"></div>
    </div>
  </body>
  <script src="/assets/js/validation.js">   </script>   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 pt-4">
                <div class="card"   style="background-color: burlywood;">
                    <div class="card-body" align="center">
                        <i class="fa fa-bars" aria-hidden="true" style="font-size:720%;"></i><br><br>
                            <h4 class="card-title">Categories</h4>
                        <p class="catrd-text">Manage the Categories </p>
                        <a routerLink="/categories" th:href="@{admin/Categories}"
                            class="card-link btn btn-muted" style="background-color: rgb(47, 46, 46);"><h3 style="color: white;">Manage</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pt-4" >
                <div class="card" style="background-color: rgb(241, 241, 142);">
                    <div class="card-body" align="center">
                        <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:720%;"></i><br><br>
                        <h4 class="card-title">Products</h4>
                        <p class="catrd-text">Manage the Products </p>
                        <a routerLink="/products" th:href="@{admin/Products}"
                            class="card-link btn btn-muted" style="background-color: rgb(47, 46, 46);"><h3 style="color: white;">Manage</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pt-4" >
                <div class="card" style="background-color: rgb(142, 201, 237);">
                    <div class="card-body" align="center">
                        <i class="fa fa-user-o" aria-hidden="true" style="font-size:720%;"></i><br><br>
                        <h4 class="card-title">UserData</h4>
                        <p class="catrd-text">Manage the UserData </p>
                        <a routerLink="/userdata" th:href="@{admin/UserData}"
                            class="card-link btn btn-muted" style="background-color: rgb(47, 46, 46);"><h3 style="color: white;">Manage</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pt-4">
                <div class="card" style="background-color: rgb(194, 161, 226);">
                    <div class="card-body" align="center">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:720%;"></i><br><br>
                        <h4 class="card-title">Add New Product</h4>
                        <p class="catrd-text">Insert Your Products </p>
                        <a routerLink="/iuproducts" th:href="@{admin/UserData}"
                            class="card-link btn btn-muted" style="background-color: rgb(47, 46, 46);"><h3 style="color: white;">Manage</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pt-4">
                <div class="card" style="background-color: rgb(225, 116, 116);">
                    <div class="card-body" align="center">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size:720%;"></i><br><br>
                        <h4 class="card-title">LogOut</h4>
                        <p class="catrd-text">&nbsp;</p>
                        <a (click)="success()" th:href="@{admin/UserData}"
                            class="card-link btn btn-muted" style="background-color: rgb(47, 46, 46);"><h3 style="color: white;">Manage</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid mt-5">
            <div class="card bg-white mx-5">
                <div class="row mb-4">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="footer-text pull-left">
                            <div class="d-flex">
                                <h1 style="color: #1c030ef8;font-size: xx-large;"><img src="/assets/logo.png"
                                        style="width: 17%;">Just Born</h1>
                            </div>
                            <p class="card-text" style="text-align: justify;">Just Born is the first in India to
                                introduce
                                the Baby Shop concept. Just Born has developed a unique brand of world-class products
                                sourced from all over the globe and sold exclusively in just born outlets. From baby
                                clothes
                                and blankets to essentials like diapers, wipes & natural skin care. Just Born has a
                                complete
                                range of baby care products that are guaranteed to keep your baby happy.</p>
                            <div class="social mt-2 mb-3"> <i class="fa fa-facebook-official fa-lg"></i> <i
                                    class="fa fa-instagram fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i
                                    class="fa fa-linkedin-square fa-lg"></i> <i class="fa fa-facebook"></i> </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>

                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Contact Us</h5>
                        <ul class="footer-contact">
                            <li class="phone"> <i class="fa fa-phone"></i> &nbsp; +91&nbsp;99887 76655</li>
                            <li class="email"><i class="fa fa-envelope"></i> &nbsp; service@justborn.in</li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Services</h5>
                        <ul>
                            <li>Online Service</li>
                            <li>Easy Returns</li>
                            <li>Delivery To Your Doorstep</li>
                            <li>Support</li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Company</h5>
                        <ul class="card-text">
                            <li>About Us</li>
                            <li>Blog</li>
                            <li>Contact</li>
                            <li>Join Us</li>
                        </ul>
                    </div>
                </div>
                <div class="divider mb-4"></div>
                <div class="row" style="font-size:10px;">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="pull-left">
                            <p><b>Copyright <i class="fa fa-copyright"></i> 2022 Just Born</b></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="pull-right mr-4 d-flex policy">
                            <div id="l">Terms & Conditions</div>
                            <div id="l">Privacy Policy</div>
                            <div id="l">Cookie Policy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>